  <div class="header pb-8 pt-5 pt-md-8" style="background-color: #C10000;">
    <div class="container-fluid">
      <div class="header-body">
        <div class="col-auto float-right mt-4">
          <!-- <div class="icon icon-shape bg-danger text-white rounded-circle shadow" style="cursor: pointer;" (click)="openDialog()">
            <i class="fas fa-plus"></i>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row" >
      <div class="col-xl-4 col-lg-6" >
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="../../../../assets/img/prudential_logo.jpg" alt="Card image cap">
          <div class="text-right pr-2">
            <div *ngIf="status === 'En traitement'">
              <span class="btn btn-sm btn-warning">{{status}}</span>
            </div>
            <div *ngIf="status === 'Validé'">
              <span class="btn btn-sm btn-success">{{status}}</span>
            </div>
            <div *ngIf="status === 'Rejeté'">
              <span class="btn btn-sm btn-danger">{{status}}</span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Numero Dossier : 12763762676</h5>
            <h6 class="card-text"></h6>
            <a class="btn btn-danger" (click)="viewDetails()">Voir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
