<div class="header bg-gradient-info py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <!-- <h1 class="text-white">Bienvenue dans votre portail SIMEDS!</h1> -->
          <p class="text-lead text-light"></p>
          <h2 class="text-white">Vous avez demandé une reinitialisation de votre mot de passe, Veuillez renseigner le formulaire ci deessus !</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2580 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header">
          <div class="d-flex">
            <div class="icon icon-shape bg-primary shadow text-center border-radius-md">
              <i class="ni ni-circle-08 text-white text-lg opacity-10" aria-hidden="true"></i>
            </div>
          <div class="ms-3">
            <h5 class="mb-0">Can't log in?</h5>
            <p class="text-sm mb-0">Restore access to your account</p>
          </div>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form [formGroup]="resetForm">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                </div>
                <input formControlName="verificationCode" class="form-control" placeholder="Code de verification" type="text">
              </div>
              <span class="text-red" *ngIf="verificationCode.invalid">{{ getErrorMessage(verificationCode) }}</span>
            </div>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input formControlName="new_password" class="form-control" placeholder="Nouveau mot de passe" type="password">
              </div>
              <span class="text-red" *ngIf="new_password.invalid">{{ getErrorMessage(new_password) }}</span>
            </div>
            <div class="text-center">
              <button type="button" (click)="resetPassword()" class="btn btn-primary my-4" [disabled]="resetForm.invalid">Save</button>
            </div>
            <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="submitted">
              Erreur : {{ errorMessage }}
            </div>
          </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a routerLink="/login" class="text-light"><small>Login</small></a>
        </div>
        <!-- <div class="col-6 text-right">
          <a href="javascript:void(0)" class="text-light"><small>Create new account</small></a>
        </div> -->
      </div>
    </div>
  </div>
</div>
