<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-lg-12">
      <h1>Informations Dossier</h1>
      <div class="scrollable-form-container">
      <section class="souscripteur">
        <h2>Souscripteur</h2>
        <form action="">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="prenom">Nature piece</label>
                <input  type="text" value="Passport" readonly class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="nom">Numero d'identite</label>
                <input  type="text" value="123456789" readonly class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="prenom">Nom</label>
                <input  type="text" value="Doe" readonly class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="nom">Prenom</label>
                <input  type="text" value="John" readonly class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="prenom">Date de Naissance</label>
                <input  type="text" value="1967-01-01" readonly class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="nom">Situation Matrimoniale</label>
                <input  type="text" value="married" readonly class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="prenom">Lieu de Naissance</label>
                <input  type="text" value="Abidjan, Cote d'Ivoire" readonly class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="nom">Domicile</label>
                <input  type="text" value="456 Elm St, Abidjan, Cote d'Ivoire" readonly class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="gender">Adresse Postale</label>
                <input type="text" value="42222" readonly class="form-control" id="exampleFormControlInput1">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="prenom">Email</label>
                <input  type="text" value="john.doe@email.com" readonly class="form-control" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="nom">Autre Tel</label>
                <input  type="text" value="" readonly class="form-control" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="gender">Tel Mobile</label>
                <input type="text" value="+225 77-456-7890" readonly class="form-control" id="exampleFormControlInput1">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="gender">Tel Whatsapp</label>
                <input type="text" value="+225 77-456-7890" readonly class="form-control" id="exampleFormControlInput1">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="prenom">Profession</label>
                <input  type="text" value="Engineer" readonly class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="nom">Employeur</label>
                <input  type="text" value="ATOS CIV" readonly class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="gender">Tel Employeur</label>
                <input type="text" value="+225 78-012-3456" readonly class="form-control" id="exampleFormControlInput1">
              </div>
            </div>
          </div>
        </form>
      </section>
      <section class="assure">
        <h2>Assure</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="prenom">Nature piece</label>
              <input  type="text" value="Passport" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="nom">Numero d'identite</label>
              <input  type="text" value="872872792" readonly class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="prenom">Nom</label>
              <input  type="text" value="Hetcheli" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="nom">Prenom</label>
              <input  type="text" value="Diane" readonly class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="prenom">Date de Naissance</label>
              <input  type="text" value="2003-01-01" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="nom">Situation Matrimoniale</label>
              <input  type="text" value="single" readonly class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="prenom">Lieu de Naissance</label>
              <input  type="text" value="Abidjan, Cote d'Ivoire" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="nom">Email</label>
              <input  type="text" value="diane@gmail.com" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="gender">Tel Mobile</label>
              <input type="text" value="+225 78-923-9112" readonly class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
        </div>
      </section>

      <section class="garanties souscrites">
        <h2>Garanties souscrites</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="date">Date effet</label>
              <input  type="text" value="2024-06-24" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="prime">Prime ( FCFA )</label>
              <input  type="text" value="500.000" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="duration">Durée</label>
              <input type="text" value="3 ans" readonly class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="periodicity">Periodicité</label>
              <input value="5" type="text" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="cap_deatch">Capital Décès ( FCFA ) </label>
              <input value="1000000000" type="text" readonly class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="periodicity">Paiement</label>
              <input value="Deduction" type="text" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="cap_deatch">N° de compte / Matricule</label>
              <input value="1408-3333-3432-9884" readonly type="text" class="form-control" />
            </div>
          </div>
        </div>
      </section>
      <section class="beneficiaires">
        <h2>Beneficiaires</h2>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Prenom et Nom</th>
                <th scope="col">Domicile</th>
                <th scope="col">Adresse Postale</th>
                <th scope="col">Filiation</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Quote Part</th>
                <th scope="col">Contact</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                     <div class="media-body">
                      <span class="mb-0 text-sm">Jane Smith</span>
                    </div>
                  </div>
                </th>
                <td>789 Oak St, Anycity, USA</td>
                <td></td>
                <td></td>
                <td>1985-05-05</td>
                <td></td>
                <td>789-123-4567</td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                     <div class="media-body">
                      <span class="mb-0 text-sm">Bob JonhSon</span>
                    </div>
                  </div>
                </th>
                <td>567 Pine St, Anycity, USA</td>
                <td></td>
                <td></td>
                <td>1986-08-08</td>
                <td></td>
                <td>567-234-5678</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h3>*Personne à contacter si injoignable</h3>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Prenom et Nom</th>
                <th scope="col">Domicile</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
                <th scope="col">Adresse Postale</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                     <div class="media-body">
                      <span class="mb-0 text-sm">Jean Sarr</span>
                    </div>
                  </div>
                </th>
                <td>Abidjan</td>
                <td>+225 727-288202</td>
                <td>jeans@gmail.com</td>
                <td>63333</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="taille">Taille</label>
              <input  type="text" value="184" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="nom">Poids</label>
              <input  type="text" value="78" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="gender">Tension Art.</label>
              <input type="text" value="12" readonly class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="gender">Fumez vous ?</label>
              <input type="text" value="Non" readonly class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="prenom">Vos distractions</label>
              <input  type="text" value="Football, Basket" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="nom">Buvez vous de l'alcool</label>
              <input  type="text" value="Non" readonly class="form-control" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="prenom">Pratiquez vous du sport ?</label>
              <input  type="text" value="Oui" readonly class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="prenom">Avez vous une infirmité ?</label>
              <input  type="text" value="Non" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="prenom">Si oui, de quelle nature ?</label>
              <input  type="text" value="" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="prenom">Date de survenance ?</label>
              <input  type="text" value="" readonly class="form-control" />
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nature</th>
                <th scope="col">Oui/Non</th>
                <th scope="col">Précisez</th>
                <th scope="col">Date de traitement</th>
                <th scope="col">Lieu de traitement</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of someDetails">
                <th scope="row">
                  <div class="media align-items-center">
                     <div class="media-body">
                      <span class="mb-0 text-sm">{{detail.nature}}</span>
                    </div>
                  </div>
                </th>
                <td>{{detail.isTrue}}</td>
                <td>{{detail.precision}}</td>
                <td>{{detail.dateTraitement}}</td>
                <td>{{detail.lieuTraitement}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="mentions">
        <h2> Infos agents et Mentions</h2>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="taille">Nom Agent</label>
              <input  type="text" value="Mohamed" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="nom">Code Agent</label>
              <input  type="text" value="22512345" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="gender">Agence</label>
              <input type="text" value="Prudential BeLife" readonly class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="gender">Visa</label>
              <input type="text" value="23627762" readonly class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="taille">Comment souhaitez-vous recevoir votre police d'assurance ?</label>
              <input  type="text" value="email" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="nom">Référence</label>
              <input  type="text" value="225t636skiw" readonly class="form-control" />
            </div>
          </div>
        </div>
        <p>
          Je soussigné Diane HETCHELI, certifie avoir répondu avec sincérité, sans aucune réticence et n’avoir rien dissimulé sur mon état de <br />
          santé passé ou actuel et prends acte que toute réticence ou fausse déclaration de ma part entraînera la nullité du contrat.<br />
          • J’autorise expressément Prudential Belife Insurance SA, à utiliser les informations personnelles fournies pour communiquer avec moi, faire la promotion de ses produits et <br />
          services, à les transférer, dans le cadre de l’exécution du contrat, aux filiales et la maison mère de Prudential et éventuellement ses sous-traitants, laquelle s’engage à respecter <br />
          les exigences légales, réglementaires et de sa politique sur la protection des données personnelles. <br />
          • J'accepte, dans le cadre du contrat, que la compagnie traite mes informations personnelles sensibles, telles que les informations relatives à ma santé, conformément à la loi <br />
          sur la protection des données personnelles. J'autorise de ce fait tout médecin, hôpital, clinique, compagnie d'assurance ou autre organisation, institution ou personne ayant un <br />
          dossier ou informations sur ma santé à les donner à Prudential Belife Insurance SA. <br />
          • J'ai Iu attentivement le présent formulaire de déclaration et l'extrait des conditions générales et j’accepte toutes clauses du contrat.
        </p>
      </section>

      <section class="signatures">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="taille">Signature du souscripteur</label>
              <input  type="text" value="JD" readonly class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="nom">Fait à</label>
              <input  type="text" value="Abidjan" class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="gender">Date</label>
              <input type="text" value="{{ date }}" readonly class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
        </div>
      </section>
    </div>

    <div>
      <button
        type="button"
        [disabled]="statusDossier === 'Validé' || statusDossier === 'Rejeté'"
        class="btn btn-info float-right"
        (click)="validateFolder()">
        Valider
      </button>
      <button
        type="button"
        [disabled]="statusDossier === 'Validé' || statusDossier === 'Rejeté'"
        class="btn btn-danger float-right mr-2"
        (click)="openMotifModal()">
        Rejeter
      </button>
    </div>



    </div>
  </div>
</div>
